.main {
  background: -webkit-linear-gradient(180deg, #4c5bd4, #e969ff);
  border-radius: 20px;
  display: flex;
  bottom: -160px;
  left: -230px;
  z-index: 0;
}
.girl1,
.girl2 {
  text-align: center;
  padding-left: 100px;
}
