.main {
  text-align: center;
  //display: inline-block;
  align-items: center;
  padding-top: 36px;
}
.saltlux {
  background: -webkit-linear-gradient(90deg, #4c5bd4, #ff0900);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hello {
  background: -webkit-linear-gradient(90deg, lightblue, darkblue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background: -webkit-linear-gradient(180deg, #cccc, #4c5bd4);
  border-radius: 10px 10px 5px 5px;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar #home-logo {
  height: 40px;
  margin: 0 8px;
}

.toolbar #youtube-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #home-logo:hover,
.toolbar #youtube-logo:hover {
  opacity: 0.8;
  transform: translateY(-3px);
  // box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}
