.main {
  text-align: center;
  //display: inline-block;
  align-items: center;
}
.saltlux {
  background: -webkit-linear-gradient(90deg, #4c5bd4, #ff0900);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hello {
  background: -webkit-linear-gradient(90deg, lightblue, darkblue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
